{% extends "base.html" %}
{% block title %}Details of {{event.event_name}}{% endblock %}


{% block content %}

<center><h1>Summary of pieces, parts and players</h1>
<h3>{{event.event_name}}, {{event.location}}, {{event.date|date:"d M Y"}}<br>

Attendees: 
{% for a in event.attendees.all|dictsort:"first_name" %}
	{{a.first_name}}
{% endfor %}
</h3>

{% if event.piece_set.all == NULL %}

No pieces available yet.

{% else %}
{% if user in event.attendees.all %}
To sign up for parts, click on a piece in the table below. <p>
{% endif %}
<table border>

<tr>

	<th>Piece</th><th colspan=6>Parts</th>
</tr>
{% for piece in event.piece_set.all %}
<tr>
	<th rowspan='2' align='left'>
		{% if user in event.attendees.all %}
			<a href="/pieces/{{piece.id}}/">{{piece.piece_name}} ({{piece.composer}})</a> 
		{% else %}
			{{piece.piece_name}} ({{piece.composer}})
		{% endif %}
	
	</th>
	{% for part in piece.part_set.all|dictsort:"order" %}
	<th>
		{{part.part_name}}<br>{{part.instrument.instrument_name}}
	</th>
	
	{% endfor %}
</tr>
<tr>
	{% for part in piece.part_set.all %}
	<td>
	{% if part.player.first_name %}
		{{part.player.first_name}}
	{% else %}
		Unassigned
	{% endif %}
	</td>
	{% endfor %}
</tr>

{% endfor %}
</table>
<p>
<a href ="{% url 'index' %}">Home page</a>  |
<a href="{% url 'logout' %}">Log Out</a>
</center>

{% endif %}

{% endblock %}


	































</center>

