{% extends "base.html" %}
{% block title %}Music signup site for viol groups{% endblock %}


{% block content %}

<center><h1>Music signup site for viol groups</h1>

{% if user.is_authenticated %}

{% if events %}
    <table border=1>
	<tr>
		<th>Event</th>
		<th>Date</th>
		<th>Location</th>
		<th>Attendees</th>
	</tr>
    	{% for event in events %}
        <tr>
		<td><a href="events/{{ event.id }}/">{{ event.event_name }}</a></td>
		<td>{{event.date|date:"d M Y"}}</td>
		<td>{{event.location}}</td>
		<td>{{event.attendees.first_name.all|join:', ' }}
		{% for a in event.attendees.all %}
			{{a.first_name}}
		{% endfor %}
		</td>
	</tr>
    	{% endfor %}
	</table>

{% else %}
    <p>No events are available.</p>
{% endif %}

<p>
<p>
Click on the name of an event to see details of the music selected so far and to choose the instruments and parts that you want to play.


<p>
<a href="{% url 'logout' %}">Click here to Log Out</a></p>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

</center>

{% endblock %}

