{% if user.is_authenticated %}
{% if piece %}
<center>
<h1>{{piece.piece_name}}</h1>
<h2>{{piece.composer}}</h2>
{{piece.source}}
<p>

<p>
<p>

In the following table, choose the part you want to play, select your name in the drop-down menu in the "Player" column and press the adjacent "Select this part" button.

<table border=1>
<tr>
	<th>Part</th>
	<th>Instrument</th>
	<th>Player</th>
	<th>Action</th>
</tr>
{% for part in piece.part_set.all %}
<tr>
	<td>{{part.part_name}} </td>
	<td>{{part.instrument.instrument_name}}</td>
	<td>
	<form method='post' action = {% url "update_part" %}>
	{% csrf_token %}
	{% if part.player.first_name == Null %}
		<select name="players" id="p">
  			<option value = "Unassigned">Unassigned</option>
			<option value={{user.first_name}}>{{user.first_name}}</option>
  				
		</select>
 	{% elif part.player.first_name == user.first_name %}
		<select name="players" id="p">
			<option value={{user.first_name}}>{{user.first_name}}</option>
  			<option value = "Unassigned">Unassigned</option>
		</select>

	{% else %}
		{{part.player.first_name}}</td>
	{% endif %}
	</td>
	<td>
	{% if part.player.first_name == Null or part.player.first_name == user.first_name %}
		<input type="hidden" name="PartID" value={{part.id}}>
		<input type="submit" value="Select this part">
	{% endif %}
	</td>
	</form>
	</tr>
	{% endfor %}

</table>

{% else %}

No piece found.

{% endif %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  </center>
{% endif %}



<p>

<p>
<center>
<a href ="{% url 'index' %}">Home page</a>
{% if event %}
<a href = "{% url 'event_detail' event %}">Back to current event</a>
</center>
{% endif %}
</center>